@font-face {
  font-family: Apfel;
  src: url("../assets/fonts/ApfelGrotezk-Regular.woff");
}

:root {
  --primary: rgb(20, 20, 20);
  --secondary: rgb(200, 200, 200);
}

* {
  box-sizing: border-box;
}

html,
body {
  font-family: Apfel;
  background: var(--primary);
  color: var(--secondary);
  margin: 0;
}

body {
  height: 100%;
}

a {
  color: inherit;
}

p {
  font-size: 1.2em;
  margin: 0;
}

header h1 {
  font-size: 1.5em;
  margin: 0;
}

header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  background-color: var(--primary);
  margin: -1em -2.5em;
  padding: 1em 2.5em;
}

nav {
  display: flex;
  align-items: center;
}

nav li {
  position: relative;
  cursor: pointer;
  list-style-type: none;
}

header a {
  text-decoration: none;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li:hover:before {
  content: "";
  position: absolute;
  bottom: -12px;
  background: var(--secondary);
  width: 6px;
  height: 6px;
  border-radius: 100%;
  left: calc(50% - 3px);
}

.searcher-studio {
  display: flex;
  flex-direction: column;
  padding: 1em 2.5em;
  gap: 1em;
}

.searcher-studio.index {
  height: 100vh;
}

button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

button svg {
  height: 30px;
}

button polyline {
  fill: none;
  stroke: #ffffff;
  stroke-width: 5;
  stroke-linecap: square;
  stroke-linejoin: bevel;
  stroke-miterlimit: 10;
}

main {
  display: flex;
  flex-direction: column;
  max-width: 720px;
  line-height: 1.4;
  gap: 1.2em;
}

.sub {
  font-size: 0.9em;
}

.container {
  display: flex;
  height: 100%;
}

.container img {
  width: 200px;
}

.index .container {
  display: block;
}

.button-row {
  display: flex;
  justify-content: flex-end;
}

.carousel {
  height: 100%;
  border-radius: 6px;
  overflow: hidden;
}

.carousel-cell {
  width: 100%; /* full width */
  height: 100%;
  flex-grow: 1;
  /* center images in cells with flexbox */
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel.is-fullscreen .carousel-cell {
  height: 100%;
}

.carousel-cell video,
.carousel-cell img {
  display: block;
  height: 100%;
  width: 100%;
}

.carousel-cell video {
  object-fit: cover;
}

.carousel img {
  object-fit: contain;
  background-color: rgb(35, 35, 35);
}

.flickity-prev-next-button {
  bottom: 10px !important;
  top: unset;
  -webkit-transform: none;
  transform: none;
}

.flickity-prev-next-button.previous {
  left: auto;
  right: 60px;
}

.flickity-prev-next-button.next {
  right: 10px;
}

.flickity-button {
  color: var(--primary);
}

@media (min-width: 320px) and (max-width: 480px) {
  header {
    margin: -1em;
    padding: 1em;
  }

  .searcher-studio {
    padding: 1em;
  }
  
}